.bor-color-red {
	border-color: #F44336;
}

.bor-color-pink {
	border-color: #E91E63;
}

.bor-color-purple {
	border-color: #9C27B0;
}

.bor-color-deep_purple {
	border-color: #673AB7;
}

.bor-color-indigo {
	border-color: #3F51B5;
}

.bor-color-blue {
	border-color: #2196F3;
}

.bor-color-light_blue {
	border-color: #03A9F4;
}

.bor-color-cyan {
	border-color: #00BCD4;
}

.bor-color-teal {
	border-color: #009688;
}

.bor-color-green {
	border-color: #4CAF50;
}

.bor-color-light_green {
	border-color: #8BC34A;
}

.bor-color-lime {
	border-color: #CDDC39;
}

.bor-color-yellow {
	border-color: #FFEB3B;
}

.bor-color-amber {
	border-color: #FFC107;
}

.bor-color-orange {
	border-color: #FF9800;
}

.bor-color-deep_orange {
	border-color: #FF5722;
}

.bor-color-brown {
	border-color: #795548;
}

.bor-color-grey {
	border-color: #9E9E9E;
}

.bor-color-blue_grey {
	border-color: #607D8B;
}

.bor-color-black {
	border-color: #000000;
}

.bor-color-white {
	border-color: #FFFFFF;
}

.bor-width-0 {
	border: none;
}

.bor-width-1 {
	border-width: 1px;
	border-style: solid;
}

.bor-width-2 {
	border-style: solid;
	border-width: 2px;
}

.bor-width-5 {
	border-style: solid;
	border-width: 5px;
}

.bor-width-10 {
	border-style: solid;
	border-width: 10px;
}

.bor-width-15 {
	border-style: solid;
	border-width: 15px;
}

.bor-width-20 {
	border-style: solid;
	border-width: 20px;
}

.bor-width-25 {
	border-style: solid;
	border-width: 25px;
}

.bor-width-50 {
	border-style: solid;
	border-width: 50px;
}
