.back-red {
	background-color: #F44336;
}

.font-red {
	color: #F44336;
}

.font-red-choice {
	color: #F44336;
	background-color: #F44336;
}

.back-pink {
	background-color: #E91E63;
}

.font-pink {
	color: #E91E63;
}

.font-pink-choice {
	background-color: #E91E63;
}


.back-purple {
	background-color: #9C27B0;
}

.font-purple {
	color: #9C27B0;
}

.font-purple-choice {
	background-color: #9C27B0;
}


.back-deep_purple {
	background-color: #673AB7;
}

.font-deep_purple {
	color: #673AB7;
}

.font-deep_purple-choice {
	background-color: #673AB7;
}


.back-indigo {
	background-color: #3F51B5;
}

.font-indigo {
	color: #3F51B5;
}

.font-indigo-choice {
	background-color: #3F51B5;
}


.back-blue {
	background-color: #2196F3;
}

.font-blue {
	color: #2196F3;
}

.font-blue-choice {
	background-color: #2196F3;
}


.back-light_blue {
	background-color: #03A9F4;
}

.font-light_blue {
	color: #03A9F4;
}

.font-light_blue-choice {
	background-color: #03A9F4;
}


.back-cyan {
	background-color: #00BCD4;
}

.font-cyan {
	color: #00BCD4;
}

.font-cyan-choice {
	background-color: #00BCD4;
}


.back-teal {
	background-color: #009688;
}

.font-teal {
	color: #009688;
}

.font-teal-choice {
	background-color: #009688;
}


.back-green {
	background-color: #4CAF50;
}

.font-green {
	color: #4CAF50;
}

.font-green-choice {
	background-color: #4CAF50;
}


.back-light_green {
	background-color: #8BC34A;
}

.font-light_green {
	color: #8BC34A;
}

.font-light_green-choice {
	background-color: #8BC34A;
}


.back-lime {
	background-color: #CDDC39;
}

.font-lime {
	color: #CDDC39;
}

.font-lime-choice {
	background-color: #CDDC39;
}


.back-yellow {
	background-color: #FFEB3B;
}

.font-yellow {
	color: #FFEB3B;
}

.font-yellow-choice {
	background-color: #FFEB3B;
}


.back-amber {
	background-color: #FFC107;
}

.font-amber {
	color: #FFC107;
}

.font-amber-choice {
	background-color: #FFC107;
}


.back-orange {
	background-color: #FF9800;
}

.font-orange {
	color: #FF9800;
}

.font-orange-choice {
	background-color: #FF9800;
}


.back-deep_orange {
	background-color: #FF5722;
}

.font-deep_orange {
	color: #FF5722;
}

.font-deep_orange-choice {
	background-color: #FF5722;
}


.back-brown {
	background-color: #795548;
}

.font-brown {
	color: #795548;
}

.font-brown-choice {
	background-color: #795548;
}


.back-grey {
	background-color: #9E9E9E;
}

.font-grey {
	color: #9E9E9E;
}

.font-grey-choice {
	background-color: #9E9E9E;
}


.back-blue_grey {
	background-color: #607D8B;
}

.font-blue_grey {
	color: #607D8B;
}

.font-blue_grey-choice {
	background-color: #607D8B;
}


.back-black {
	background-color: #000000;
}

.font-black {
	color: #000000;
}

.font-black-choice {
	background-color: #000000;
}


.back-white {
	background-color: #FFFFFF;
}

.font-white {
	color: #FFFFFF;
}

.font-white-choice {
	background-color: #FFFFFF;
}

.back-trans {
	background-color:transparent;
}
