.fs_8 {
	font-size: 8px;
	* {
		font-size: inherit;
	}
}

.fs_9 {
	font-size: 9px;
	* {
		font-size: inherit;
	}
}

.fs_10 {
	font-size: 10px;
	* {
		font-size: inherit;
	}
}

.fs_11 {
	font-size: 11px;
	* {
		font-size: inherit;
	}
}

.fs_12 {
	font-size: 12px;
	* {
		font-size: inherit;
	}
}

.fs_13 {
	font-size: 13px;
	* {
		font-size: inherit;
	}
}

.fs_14 {
	font-size: 14px;
	* {
		font-size: inherit;
	}
}

.fs_15 {
	font-size: 15px;
	* {
		font-size: inherit;
	}
}

.fs_16 {
	font-size: 16px;
	* {
		font-size: inherit;
	}
}

.fs_17 {
	font-size: 17px;
	* {
		font-size: inherit;
	}
}

.fs_18 {
	font-size: 18px;
	* {
		font-size: inherit;
	}
}

.fs_19 {
	font-size: 19px;
	* {
		font-size: inherit;
	}
}

.fs_20 {
	font-size: 20px;
	* {
		font-size: inherit;
	}
}

.fs_21 {
	font-size: 21px;
	* {
		font-size: inherit;
	}
}

.fs_22 {
	font-size: 22px;
	* {
		font-size: inherit;
	}
}

.fs_23 {
	font-size: 23px;
	* {
		font-size: inherit;
	}
}

.fs_24 {
	font-size: 24px;
	* {
		font-size: inherit;
	}
}

.fs_25 {
	font-size: 25px;
	* {
		font-size: inherit;
	}
}

.fs_26 {
	font-size: 26px;
	* {
		font-size: inherit;
	}
}

.fs_27 {
	font-size: 27px;
	* {
		font-size: inherit;
	}
}

.fs_28 {
	font-size: 28px;
	* {
		font-size: inherit;
	}
}

.fs_29 {
	font-size: 29px;
	* {
		font-size: inherit;
	}
}

.fs_30 {
	font-size: 30px;
	* {
		font-size: inherit;
	}
}

.fs_31 {
	font-size: 31px;
	* {
		font-size: inherit;
	}
}

.fs_32 {
	font-size: 32px;
	* {
		font-size: inherit;
	}
}

.fs_33 {
	font-size: 33px;
	* {
		font-size: inherit;
	}
}

.fs_34 {
	font-size: 34px;
	* {
		font-size: inherit;
	}
}

.fs_35 {
	font-size: 35px;
	* {
		font-size: inherit;
	}
}

.fs_36 {
	font-size: 36px;
	* {
		font-size: inherit;
	}
}

.fs_37 {
	font-size: 37px;
	* {
		font-size: inherit;
	}
}

.fs_38 {
	font-size: 38px;
	* {
		font-size: inherit;
	}
}

.fs_39 {
	font-size: 39px;
	* {
		font-size: inherit;
	}
}

.fs_40 {
	font-size: 40px;
	* {
		font-size: inherit;
	}
}
