.size-width-25 {
	width: 25%;
}

.size-width-33 {
	width: 33.33%;
}

.size-width-50 {
	width: 50%;
}

.size-width-66 {
	width: 66.66%;
}

.size-width-75 {
	width: 75%;
}

.size-width-100 {
	width: 100%;
}

.size-height-50 {
	height: 50px;
}

.size-height-100 {
	height: 100px;
}

.size-height-150 {
	height: 150px;
}

.size-height-200 {
	height: 200px;
}

.size-height-250 {
	height: 250px;
}

.size-height-300 {
	height: 300px;
}

.size-height-350 {
	height: 350px;
}

.size-height-400 {
	height: 400px;
}

.size-height-450 {
	height: 450px;
}

.size-height-500 {
	height: 500px;
}

.size-height-auto {
	height: auto;
}
